* {
  margin: 0;
  padding: 0;
  box-sizing: 0;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.app {
  display: grid;
  place-items: center;
  margin: 3em 0;
}


.container {
  box-shadow: 0px 0px 12px #ccc;
  border-radius: 0.5em;
  padding: 1em 2em;
  color: darkblue;
}

h2 {
  text-align: center;
}

form {
  margin: 1em 0;
  /* color: steelblue; */
}

input {
  width: 100%;
  max-width: 280px;
  margin: 0.5em auto;
  font-size: 1.2rem;
  padding: 0.5em;

  border: 1px solid blue;
  border-radius: 0.2em;
  color: blue;
}

.submit-btn {
  font-size: 1.1rem;
  width: 100%;
  display: block;
  margin: 0.5em 0;
  padding: 0.6em 0;
  background-color: blue;
  border: 1px solid blue;
  border-radius: 0.2em;
  color: white;
  cursor: pointer;
}

.btn-outline {
  background-color: white;
  color: blue;
}

.message {
  text-align: center;
}

p {
  margin: 0.6em 0;
}

.img-container {
  text-align: center;
}

.img-container img {
  height: 250px;
  width: 100%;
}
